@font-face {
    font-family: "ShareTechMono";
    src: url(../assets/fonts/ShareTechMono-Regular.ttf);
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: ShareTechMono, sans-serif;
    background-color: black;
}

.button-ui{
    font-family: ShareTechMono, sans-serif;
    background-color: rgb(0, 43, 43);
    color: aqua;
    text-transform: uppercase;
    letter-spacing: .06em;
    margin: 1px;
    padding: .4em 1em;
    border: 1px solid;
}

.button-ui:hover{
    background-color: rgba(0, 43, 43, 0.5);
    color: rgba(aqua, 0.5);
}

.button-ui:disabled{
    background-color: rgba(0, 43, 43, 0.4);
    color: rgba(aqua, 0.4);
}

.select-ui{
    font-family: ShareTechMono, sans-serif;
    background-color: rgb(0, 43, 43);
    color: aqua;
    margin: 1px;
    padding: .4em 1em;
    border: 1px solid;
}

.select-ui:hover{
    background-color: rgba(0, 43, 43, 0.5);
    color: rgba(aqua, 0.5);
}

.window-container{
    position: absolute;
    border: 1px solid;
    color: aqua;
    padding: 5px;
    background-color: black;
    margin: 1px;
}

.div-container{
    border: 1px solid;
    color: aqua;
    padding: 5px;
    margin: 1px;
}

.slider-ui{
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    outline: none;
    background: aqua;
}