#head-container{
    background-color: black;
    display: flex;
}

#info-panel{
    display: flex;
}

#main-container{
    display: flex;
    height: 100%;
    width: 100%;
}

#map-container, #map{
    width: 100%;
    height: 100%;
}

#side-container{
    background-color: black;
}

#side-buttons{
    display: inline-grid;
}

#event-window-container
{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    text-align: center;
}

#province-window-container
{
    right: 0%;
    bottom: 0%;
    text-align: left;
}

#government-window-container, #economy-window-container, #construction-window-container, #trade-window-container, #lanking-window-container{
    right: inherit;
    top: inherit;
    width: 400px;
    height: 500px;
    overflow: auto;
    text-align: left;
}

#government-window-table, #construction-window-table, #lanking-window-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse
}

#flag-image, #leader-portrait{
    width: 100%;
    height: 100%;
}