#background{
    padding: 0;
    margin: 0;
    background-color: Black;
    z-index: 1;
}

#title{
    color: Aqua;
    font-size: 50px;
    text-align: center;
    z-index: 2;
}

#select-window-container{
    top: 50%;
    left: 50%;
    display: inline-grid;
    z-index: 3;
    transform: translate(-50%, -50%);
}

#country-selector{
    width: 100%;
}

#title-menu-container{
    top: 50%;
    left: 50%;
    display: inline-grid;
    z-index: 2;
    transform: translate(-50%, -50%);
}

#start-button{
    width: 200px;
}

#option-button{
    width: 200px;
}

#exit-button{
    width: 200px;
}